@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* Creo las variables de mi aplicacion */
:root {
    --color--principal: #F3F5FC;
    --colo--texto--uno: #0A3871;
    --fuente--del--challenge: "Inter", sans-serif;
    --color--advertencia: #495057;
    --color--boton--desencriptar: #D8DFE8;
}

/* Formateo los estilos basicos del Brower */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuro el tamaño de fuente en 10px */
html {
    font-size: 62.5%;
}


#header {
    padding: 4rem 0 0 4rem;
    width: 12rem;
    height: 4.8rem;
    max-height: 10%;
    text-align: center;
}



body {
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100vh;
    background: var(--color--principal);
}


/* Inicio a dividir la pantalla con flex */
#contenedor {
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    gap: 8rem;
}

/* Inicio a aplicar estilos a la primera mitad de la pagina */
#primera__mitad {
    left: 24rem;
    max-width: 60%;
    max-height: 100%;
    padding-top: 8.8rem;
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ingreso__palabra {
    width: 57.7rem;
    height: 4.8rem;
    background: var(--color--principal);
    border: none;
    font-size: 3.2rem;
    font-weight: 400;
    font-family: var(--fuente--del--challenge);
    outline: none;
}

#ingreso__palabra::placeholder{
    color: var(--colo--texto--uno);
}

#contenedor__advertencia__y__botones {
    height: 10.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6rem;

}

#advertencias__ingreso__valores {
    display: flex;
    font-family: var(--fuente--del--challenge);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color--advertencia);
    align-content: center;
    gap: 0.5rem;
    height: 1.8rem;
    width: 22.9rem;
    filter: drop-shadow(0 0.4rem 0.4rem #00000025);  
}

/*aplico estilos a mis botones  */
.boton {
    width: 32.8rem;
    height: 6.7rem;
    border-radius: 2.4rem;
    background: inherit;
    border: 0.2rem solid var(--colo--texto--uno);
    color: var(--colo--texto--uno);
    font-size: 1.6rem;
    font-family: var(--fuente--del--challenge);
    filter: drop-shadow(0 0.4rem 0.4rem #00000025); 
}

/* Especifico colores para mis botones */
#desencriptar__texto {
    background: var(--color--boton--desencriptar);
} 

#encriptar__texto {
    background: var(--colo--texto--uno);
    color: #FFFFFF;
}

/* Inicio la configuracion de la segunda mitad de nuestra pagina web */

#segunda__mitad {
    height: 95%;
    width: 35rem;
    border-radius: 3.2rem;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: var(--fuente--del--challenge);
}

/* Estilos muñeco */


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 5%;
    margin-top: 1rem;
    background: var(--colo--texto--uno);
    color: var(--color--principal);
    font-family: var(--fuente--del--challenge);
}

#texto__footer {
    font-size: 1.6rem;
    height: 1.6rem;

}